{% load static %}<!DOCTYPE html>
<!--Template included html/css style /js was taken from http://codepen.io/keithpickering/pen/XJeJMv-->
<html >
   <head>
      <meta charset="UTF-8">
      <title>User Card Card</title>
      <link rel="stylesheet" href="{% static 'users_profiles/css/style.css' %}">
   </head>
   <body>
      <div class="container">
         <div class="card card--front">
            <div class="logo">
               <svg class="logo__img">
                  <use xlink:href="#logo-img"></use>
               </svg>
            </div>
            <div class="text">
               <header class="head">
                  <h1 class="head__name">
                     <b class="name__fn">{{ user.first_name }}</b>
                     {{ user.last_name }}
                  </h1>
                  <p class="head__subtitle">User_name: <b class="name__fn">{{ user.username }}</b>D.J: 
                     <b class="name__fn">{{user.date_joined}}</b><br>
                  </p>
               </header>
            </div>
         </div>
         <div class="card card--back">
            <div class="card__content">
               <ul class="contact">
               <li><a href="http://{{user.email}}">{{user.email}}</a></li>
            </div>
         </div>
         <div class="card-shadow"></div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
      <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <script src="{% static 'users_profiles/js/index.js' %}"></script>
   </body>
</html>